@font-face {
    font-family: "afternight";
    src: url("assets/fonts/afternight.ttf");
   }



.logo {
    height: 60px;
    width: 60px;
}
.bk-header {
    background-image: url('assets/medias/background-header.png');
    background-size: cover;
    height: 154px;
    width: 100%;
}

.title-header {
    color: white;
    font-family: afternight;
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
}

.title-header-2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.342);
    text-align: center;
    font-family: afternight;
}

.navbar-toggler-icon {
    color: #d73351 !important;
}

footer{
   
    background-color: #d73351;


}
h3{
    font-family: 'afternight';
    color:#d73351;
    font-size:1.1rem;

}
footer .p1{
    margin-top:15% !important;

}


.slider h3{
    padding-top:5%;
    size:100%;
    margin:auto 0;
    text-align:center;
}
.logos{

    width:100%;
  margin-left:0.3%;
    padding-top:10%;
}
.engagement p{
    font-size: 12pt;
    margin-top: 30px;
    padding-right:10px;
}
.engagement img{
    margin:auto;
}

.engagment{
    text-align: center;
}
.form{
    background-image: url("assets/medias/backgroundformmobile.jpg");
    background-repeat: no-repeat;
    margin:auto 0;
    background-size: cover;
    padding-bottom:8%;
    

}
.inputs{
    border: 0;
     outline: 0;
    background: transparent;
    border-bottom: 2px solid #d73351;
    width: 85%;

}
.form .itemcontact{
    margin-top:15%;
}
.send{
    text-align:center;
   margin-left:26%;
   margin-top:12%;
}

.form h3{
    width:100%;
    text-align: center;
    padding-top:5%;
}

.backform{
    background-color: rgba(255, 255, 255, 0.849);
    width:100%;

    
    
    padding-left: 11%;
}
.send{
    margin-bottom:15%;
}
.engagement{
    text-align: center;
}

.engagement{
    height: 800px;
   margin-top: 20px;
}

.engagement img{
    height: 100px;
    width:100px;
}
.passkeu{
    width: 100%;
}
.btn-danger{
    border-radius: 20px;
    size:3rem;
}
.engagement h3{
    text-align: center;
    width:100%;
}
footer img{

    margin-top: 30px;
}
footer p{
    font-size: 1.2rem;
    color:white;
}

footer .p2{
    margin-bottom:15%
}
.slider img {
    width: 100%;
    margin-bottom: 14%;
}

.txtcenter{
    text-align: center;
}

.slider{
    background-color:#2c2c2c;

    background-size: 100%;
}


.carousel{
    margin-top:8%;
}

.slider carousel-indicators{
    margin-top:4%;
}

@media (min-width: 992px)
{

.dropdown-menu {
     justify-content: space-around;
     display: inline-flex;

}

.navbar {
    justify-content: space-around;
    display: inline-flex;
}

.nav-link:hover {
    border:#d73351 1px solid;
}



h3{
    font-size:3rem;
}

.logostxt{
    margin-top:10%;
    margin-left:5%;
    display:flex;
    justify-content: space-around;
}

.engagement img{
    height: 200px;
    width:200px;
}

footer .p2{
    margin-bottom:4%
}


.logos{
 

 
    padding-top:0;
    display: flex;
    justify-content:;
    align-items: center;
    margin-left:25%;
    margin-top: 8%;
}

footer img{

    margin-top: 30px;
    height: 100px;
    width: 100px;
}

footer .txtcenter{
    margin-top: -6%;
 
}


}